* { margin: 0; padding: 0; }

html, body {
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 12px;
  overflow: hidden;
  width: 100%;
}

.cascade {
  display: -webkit-flex;
  min-height: 100%;
  -webkit-flex-direction: column;
}

.container {
  height: calc(100% - 25px);
  display: -webkit-flex;
  -webkit-flex: 1;
  overflow: hidden;
  width: 100%;
}

#channel-main {
  min-width: 300px;
  /*-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);*/
  /*box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);*/
  overflow: hidden;
  height: 100%;
  -webkit-flex: 1;
  overflow-y: auto;
}

#channel-list {
  -webkit-flex: 0 0 12em;
  background-color: #e0eff1;
  color: #517478;
  -webkit-order: -1;
  padding-left: 5px;
}

#channel-list section {
  padding-top: 3px;
}

#channel-list .server-name {
  cursor: pointer;
  padding-left: 5px;
}

#channel-list .channel-name {
  display: block;
  text-decoration: none;
  margin: 0;
  line-height: 150%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 10px;
}

#channel-list .channel-name:active,
#channel-list .selected {
  color: #e0eff1;
  background-color: #517478;
}

#channel-list .msgCounter {
  float: right;
  text-align: right;
  margin-right: 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
  background-color: #517478;
  color: #fff;
  font-size: 10px;
}

.channel-content {
  overflow-y: auto;
  height: 100%;
  display: -webkit-flex;
}

.channel-content p {
  word-break: break-word;
}

.user-list {
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #f0f0f0;
  overflow-y: auto;
  overflow-x: hidden;
  float: right;
}

.user-list {
  -webkit-flex: 0 0 10em;
}

.username {
  cursor:pointer;
}

.username:hover {
  color: #517478;
}

.input-bar {
  border-top: 1px solid #999;
}

.input-bar input {
  width: 100%;
  border: 0;
  outline: none;
  height: 25px;
  margin-left: 5px;
}

.line {
  border-bottom: 1px solid #eee;
  line-height: 150%;
  display: block;
}

.message .time {
  color: #ddd;
  float: right;
  font-size: 12px;
}

.line td {
  padding-top: 3px;
}

.line iframe {
  border: 0;
  width: 100%;
}

.line .nick {
  font-size: 12px;
  min-width: 110px;
  width: 110px;
  background-color: #f7f7f7;
  /*border-top: 1px solid #fff;*/
  border-right: 1px solid #fff;
  vertical-align: top;
  font-weight: bold;
  text-align: right;
}

.line .nick .from {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-content p {
  margin: 0 10px;
}

.line-container {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-flex: 1;
  overflow-y: auto;
}

.server-window {
  font-weight: bold;
  height: 100%;
  overflow-y: auto;
}

.meta {
  color: #999;
}

#submit {
  display: none;
}

.join-arrow, .nick-change { font-weight: bold; color: forestgreen; }

.part-arrow { font-weight: bold; color: firebrick; }

.mention {
  font-weight: bold;
}

.text.motd {
  color: #666;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.text {
  font-size: 12px;
}

#channel-list h3, #channel-list li {
  cursor: pointer;
}

.messageBlock {
  padding-left: 5px;
  line-height: 1.1em;
  color: #666;
}

.msg {
  border-bottom: 1px solid #eee;
  padding-top: 1px;
  padding-bottom: 1px;
}

