* { margin:0; padding:0; }
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  font-size: 12px;
  overflow: hidden;
  width: 100%;
}

@font-face
{
  font-family: Ubuntu;
  src: url('Ubuntu-Regular.ttf');
}

.mentioned {
  font-weight: bold;
}

.message {
  display: inline-block;
  line-height: 1.2;
  margin-top: 4px;
}

#channel-main {

  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57);
  overflow: hidden;
  height:100%;
  /*margin: 0 12%;*/
float:left;
}

.channel-content {
  overflow-y: auto;
  height: 100%;
}

.user-list {
  position: absolute;
  top:0;
  right:0;
  height:100%;
  width:12%;
  margin:0;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #f0f0f0;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-list li {
  list-style-type: none;
  -webkit-user-select: none;
  user-select: none;
}

.user-overlay {
  overflow-y: auto;
  height: 100%;
}

.channel-list {
  width:12%;
  height:100%;
  float: left;
  min-width: 120px;
  margin:0;
  padding: 5px;
  background-color: #353535;
}

.channel-content {

}
.main {
  overflow:hidden;
  position: absolute;
  height: calc(100% - 25px);
  width: 100%;
}

.input-bar {
  overflow: hidden;
  position: absolute;
  height: 25px;
  max-height: 25px;
  padding-left:2px;
  display: block;
  border-top: 1px solid #666;
  bottom: 0;
  width: 100%;
}

.input-bar input {
  width: 100%;
  border: 0;
  outline: none;
  height:25px;
}

.message-pane.from {
  width: 70px;
  min-width: 70px;
  font-weight: bold;
}

.message-pane.time {
  color: #ccc;
}

.msg {
  border-bottom: 1px solid #eee;
  line-height: 150%;
  display: block;
  font-size: 12px;
}

.msg .time {
  color: #ddd;
  float:right;
}

.msg .text, .msg .time, .msg .from {
  font-size: 12px;
}

.msg td {
  padding: 3px;
}

.channel-list .item {
  color:#c6c8c8;
  font-size: 14px;
  display: block;
  text-decoration: none;
  margin:0;
  width: 100%;
  line-height: 150%;
overflow-x: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.channel-list .item:active {
  color: #000;
  background-color: #999;
}

.server {
  font-weight: bold;
}

.msg .nameBlock {
  width: 110px;
  background-color: #f7f7f7;
  /*border-top: 1px solid #fff;*/
  border-right: 1px solid #fff;
  vertical-align: top;
  font-weight: bold;
  text-align: right;
}

.channel-content.server-line .nameBlock {
  display: none;
}

.channel-content p {
  margin: 0 10px;
}
