<div class="line-container">
  <div class="line" bindonce ng-repeat="line in logs">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tbody>
      <tr ng-class="{meta: line.isMeta}">
        <td class="nick" ng-hide="line.isMeta">
          <p class="from" style="margin-top: 0;">{{line.from}}</p>
        </td>
        <td class="message">
          <p class="time">{{line.time | date:'HH:mm:ss'}}</p>
          <p class="text" ng-bind-html-unsafe="line.text" style="margin-top: 0;">{{line.text}}</p></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="user-list">
  <div class="username listitem" bindonce
       ng-repeat="(user, status) in nicks">
    <span ng-click="msgUser(user)">{{user}}</span>
  </div>
</div>
